@import url("https://fonts.googleapis.com/css?family=Pirata+One|Rubik:900");

* {
    margin: 0;
    padding: 0;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}


.contenedor-principal {
    position: relative;
    background: rgb(0, 138, 241);
    background: linear-gradient(90deg, rgba(0, 138, 241, 1) 0%, rgba(70, 70, 70, 1) 84%, rgba(0, 95, 255, 1) 100%);
    min-height: 100vh;
}

.btn-custom-contactame {
    margin: 2vh 5vh;
    padding: 1vh;
    border: none;
    border-radius: 100px;
}

.custom-shape-divider-bottom-1664218420 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1664218420 svg {
    position: relative;
    display: block;
    width: calc(108% + 1.3px);
    height: 160px;
}

.custom-shape-divider-bottom-1664218420 .shape-fill {
    fill: #FFFFFF;
}

.Contenedor-saludo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 30vh;

}

.h1-custom {
    font-family: sans-serif;
    color: white;
    font-size: 40px !important;

}


.h1-custom-dos {
    color: mix(#fff, #e91e63, 85%);
    font-size: calc(1em + 20vw);
    font-weight: 900;
    text-shadow: -0.0075em 0.0075em 0 mix(#fff, #e91e63, 94%),
        0.005em 0.005em 0 mix(#fff, #e91e63, 60%),
        0.01em 0.01em 0 mix(#fff, #e91e63, 62%),
        0.015em 0.015em mix(#fff, #e91e63, 64%),
        0.02em 0.02em 0 mix(#fff, #e91e63, 66%),
        0.025em 0.025em 0 mix(#fff, #e91e63, 68%),
        0.03em 0.03em 0 mix(#fff, #e91e63, 70%),
        0.035em 0.035em 0 mix(#fff, #e91e63, 72%);
}

.h3-custom {
    font-family: sans-serif;
    color: white;

}

.h1-custom-3 {
    text-transform: Uppercase;
    margin-bottom: 0.5em;
    font-family: "Rubik", sans-serif;
    font-size: 6rem;
    color: #e4e5e6;
}

/* .h1-custom-3 {
    position: relative;
    background: linear-gradient(to right, #24243e, #141e30, #0f0c29);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
   */
.h1-custom-3 {
    position: relative;
    background: linear-gradient(to right, #ececff, #dde9ff, #d0caff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.h1-custom-3:before,
.h1-custom-3:after {
    content: attr(data-text);
    position: absolute;
    top: 100;
    left: 0;
}

.h1-custom-3:before {
    z-index: -1;
    text-shadow: -0.001em -0.001em 1px rgba(255, 255, 255, 0.15);
}

.h1-custom-3:after {
    z-index: -2;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5),
        20px 20px 20px rgba(0, 0, 0, 0.4), 30px 30px 30px rgba(0, 0, 0, 0.1);
    mix-blend-mode: multiply;
}

.custom-h2 {
    /*margin-top: -1.15em;*/
    font-family: "Pirata One", cursive;
    font-size: 2rem;
    color: #f7971e;
    text-align: start;
}

.custom-h2 spam {
    font-size: 0.5em;
}


.contenedor-saludo-mas-imagen {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.contenedor-imagen-principal {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.imagen-principal {
    border-radius: 50% !important;
    width: 25%
}

@media(max-width:950px) {
    .custom-shape-divider-bottom-1664218420 svg {
        position: relative;
        display: block;
        width: calc(108% + 1.3px);
        height: 90px;
    }
    .button {
        margin-top: 70px !important;
        text-decoration: none;
        font-size: 18px;
        color: #dfdfdf;
        padding: 20px 50px;
        border: 3px solid #f7971e;
        position: relative;
    }
}


@media (max-width:720px) {
    .custom-shape-divider-bottom-1664218420 svg {
        position: relative;
        display: block;
        width: calc(108% + 1.3px);
        height: 160px;
    }
    .contenedor-saludo-mas-imagen {
        width: 90%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        align-items: center;
    }

    .contenedor-imagen-principal {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .imagen-principal {
        border-radius: 50% !important;
        width: 100%
    }

    .Contenedor-saludo {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 10vh;

    }

    .titulo-tarek {
        display: none;
    }

    .navbar-toggler {
        margin-right: 10px;
    }

    #responsive-navbar-nav {
        margin-left: 10px;
    }

    .fixed-top {
        position: inherit !important;
    }

}